services:
  postgres:
    container_name: postgres_dbecom
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecomdb
      TZ: Asia/Kolkata
      PGDATA: /var/lib/postgresql/data
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - pg_network
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin_ecom
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - pg_network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_ecom
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
      TZ: Asia/Kolkata
    ports:
      - "5672:5672"    # AMQP (Spring Boot connects here)
      - "15672:15672"  # Management UI
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - pg_network

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    command: [ "redis-server", "--appendonly", "yes" ]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    environment:
      TZ: Asia/Kolkata
    networks:
      - pg_network

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis_insight
    restart: always
    ports:
      - "8001:5540"
    volumes:
      - redis_insight_data:/db
    depends_on:
      - redis
    networks:
      - pg_network


volumes:
  postgres_data:
  pgadmin_data:
  rabbitmq_data:
  redis_data: # <-- new
  redis_insight_data: # <-- new

networks:
  pg_network:
    driver: bridge
