spring:
  application:
    name: notification-service

  cloud:
    function:
      definition: orderCreated

    stream:
      default-binder: kafka

      bindings:
        orderCreated-in-0:
          destination: order.exchange
          group: notification-group
          content-type: application/json

      kafka:
        binder:
          brokers: kafka:9092
