server:
  port: 8082
  servlet:
    context-path: /api/v1

spring:
  application:
    name: product-service

  datasource:
    url: jdbc:postgresql://localhost:5432/productdb
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver

  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Kolkata

  rabbitmq:
    addresses: ${RABBIT_ADDRESS}
    connection-timeout: 30000

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true

app:
  message: "Hello Product ms"

---
# ============ DOCKER PROFILE ============
spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://postgres:5432/productdb   # ✅ container name

  rabbitmq:
    addresses: rabbitmq:5672                         # ✅ container name
