spring:
  application:
    name: configserver

  profiles:
    active: native

  rabbitmq:
    addresses: ${RABBIT_ADDRESS}
    connection-timeout: 30000

  cloud:
    config:
      server:
        native:
          search-locations: file:/D:\18_UDEMY\SPRING_BOOT_MICROSERVICES\ecom-app-ms\configserver\src\main\resources\config

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka


