spring:
  application:
    name: configserver

  profiles:
    active: native   # default when you run locally

  rabbitmq:
    addresses: ${RABBIT_ADDRESS}
    connection-timeout: 30000

  cloud:
    config:
      server:
        native:
          # ----- LOCAL (default / native) PATH -----
          search-locations: file:/D:/18_UDEMY/SPRING_BOOT_MICROSERVICES/ecom-app-ms/configserver/src/main/resources/config

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

---

# ================= DOCKER PROFILE =================
spring:
  config:
    activate:
      on-profile: docker

  rabbitmq:
    addresses: ${RABBIT_ADDRESS}

  cloud:
    config:
      server:
        native:
          # ----- DOCKER PATH (inside container) -----
          search-locations: file:/config

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-service:8761/eureka
