server:
  port: 8888

spring:
  application:
    name: configserver

  rabbitmq:
    addresses: ${RABBIT_ADDRESS}

  cloud:
    config:
      server:
        native:
          search-locations:
            - classpath:/config/

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-service:8761/eureka
