spring:
  application:
    name: user-service
  config:
    import: optional:configserver:http://configserver:8888

---

spring:
  config:
    activate:
      on-profile: docker
    import: optional:configserver:http://configserver:8888