spring:
  application:
    name: user-service
  config: optional:configserver:http://localhost:8888

  datasource:
    mongodb:
      uri: mongodb://localhost:27017/ms_ecom_userdb
      database: ms_ecom_userdb


server:
  port: 8081
  servlet:
    context-path: /api/v1

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true